@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Sistema Dental COAL</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/Login.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/Project/JS/jsLogin.js"></script>
</head>
<body>
    <sec class="container secCentral">
        <div class="row dvLogeo">
            <ul class="ulCompLogeo">
                <li style="margin-left:5%; margin-top:7%">
                    <img style="height:60%; width:90%" src="~/Content/img/Logo.png" />
                </li>
                <li style="margin-top:7%">
                    <div class="form-group ">
                        <b><label>Usuario</label></b>
                        <input id="inUsuario" type="text" maxlength="20" placeholder="Escribe tu nombre de usuario" class="form-control">
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <b><label>Contraseña</label></b>
                        <input id="inContra" type="password" maxlength="20" placeholder="Escribe tu contraseña" class="form-control">
                    </div>
                </li>
                <li>
                    <div class="form-group d-flex flex-row justify-content-center">
                        <button class="btn btn-primary btnLogear form-control ">Iniciar Sesión</button>
                    </div>
                </li>
                <li id="gif" style="display:none">
                    <div class="form-group d-flex flex-row justify-content-center">
                        <img style="height:15%; width:15%;" id="cargando" src="~/Content/img/cargando.gif" />
                    </div>
                    <p style="color:#0026ff" class="form-group d-flex flex-row justify-content-center">Cargando...</p>
                </li>
            </ul>
        </div>
    </sec>
    <sec>
        <input type="hidden" id="urlHome" value="@Url.Action("Index","Home")" />
        <input type="hidden" id="urlLogeo" value="@Url.Action("Logeo","Login")" />
    </sec>
</body>
</html>