
<!doctype html>
<html>
<head>
    <script src="~/Scripts/Project/JS/jsDetallesPaciente.js"></script>
</head>
<body>
    <input type="hidden" id="urlObCon" value="@Url.Action("ObtieneConsulta","Home")" />
</body>
</html>

