
<!doctype html>
<html>
<head>
    <script src="~/Scripts/Project/JS/jsDetallesUsuario.js"></script>
</head>
<body>

    <input type="hidden" id="urlObUsuarios" value="@Url.Action("ObtieneUsuarios","Home")"/>
</body>
</html>